# Hugo
public/
docs/superpowers/
resources/
.hugo_build.lock

# Node
node_modules/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Superpowers
.superpowers/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
