<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="classic">
<head>
  {{ partial "head.html" . }}
</head>
<body class="min-h-screen flex flex-col">
  {{ partial "navbar.html" . }}
  <main class="flex-1">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/theme-switcher.js" | minify }}
  <script src="{{ $js.RelPermalink }}"></script>
  {{ $interactive := resources.Get "js/interactive.js" | minify }}
  <script src="{{ $interactive.RelPermalink }}"></script>
</body>
</html>
